:root {
  --base-color: #f6f8fa;
  --link-color: #0366d6;
  --casual-color: #586069;
}

a:hover, a:active {
	outline-width: 0;
}

a {
	color: var(--link-color)!important;
	text-decoration: none;
}

pre {
	display: inline-block;
}